# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
*.egg
dist/
build/

# Virtual environments
.venv/
venv/

# Environment variables
.env
.env.local
.env.*.local

# Testing / coverage
coverage.xml
.coverage
.pytest_cache/
htmlcov/

# Type checking
.mypy_cache/

# IDE
.idea/
.vscode/

# OS
.DS_Store
